<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<script src="../static/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>

<a href="./board_01/" th:href="@{/board_01}">board_01 색인</a>
<div>Home 페이지 입니다</div>
<a href="./board_01/list_01.html" th:href="@{/board_01/list_01}">Board List</a>
<div></div>
<a href="./board_01/login_01.html" th:href="@{/board_01/login_01}">Log In</a>
<a href="./board_01/logout_01.html" th:href="@{/board_01/logout_01}">Log Out</a>
<a href="./board_01/signin_01.html" th:href="@{/board_01/signin_01}">Sign In</a>

</html>